<footer>
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Process Mining</strong>
            </p>
        </div>
    </div>
</footer>