<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
        <title>Process Mining - {{ title }}</title>
    {% else %}
        <title>Process Mining</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
</head>