<!doctype html>
<html>
{% include 'components/header.html' %}
<body>

{% include 'components/navbar.html' %}
{% if uploaded==true %}
    {% include 'components/tabs.html' %}
{% endif %}

<div class="columns ">
    <main class="main column">
        {% block body %}

        {% endblock %}
    </main>

</div>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
{#{% include 'components/footer.html' %}#}
</html>