<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">Process Mining</a>
        </div>
        {% if uploaded==true %}
            <div class="navbar-end">
                <form action="{{ url_for('delete') }}" method="post">
                    <div class="field">
                        <div class="control">
                            <button class="button is-danger" type="submit" value="Submit">Delete Data</button>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    </nav>
</header>