<div class="tabs is-centered">
    <ul>
        <li class="{{ 'is-active' if active == '/display_data' }}"><a href="{{ url_for('display_data') }}">Display Data</a></li>
        <li class="{{ 'is-active' if active == '/graph' }}"><a href="{{ url_for('graph') }}">Graph</a></li>
    </ul>
</div>