{% extends 'display_data.html' %}

{% block data %}
    <table class="table">
        <thead>
        <tr>
            <th>Case Id</th>
            <th>Task</th>
            <th>Event Type</th>
            <th>User</th>
            <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        {% for l in log %}
            <tr>
                <td>{{ l[0] }}</td>
                <td>{{ l[1] }}</td>
                <td>{{ l[2] }}</td>
                <td>{{ l[3] }}</td>
                <td>{{ l[4] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}