{% extends 'graph.html' %}

{% block graph %}
    <h4 class="title">{{ title }}</h4>

    <br>

    <image class="is-centered" src="{{ url_for('static', filename=filename) }}" alt="graph"></image>
{% endblock %}