{% extends 'components/layout.html' %} }}

{% block body %}
    <form action="{{ url_for('display_data') }}" method="post">
        <div class="field">
            <label class="label">Choose Data</label>
            <div class="control">
                <div class="select">
                    <select name="select_data">
                        <option value="data_a">Data A_</option>
                        <option value="data_o">Data O_</option>
                        <option value="data_w">Data W_</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-link" type="submit" value="Submit">Go</button>
            </div>
        </div>
    </form>
    {% block data %}

    {% endblock %}
{% endblock %}
