{% extends 'components/layout.html' %} }}

{% block body %}
    <form action="{{ url_for('graph') }}" method="post">
        <div class="field">
            <label class="label">Graph type</label>
            <div class="control">
                <div class="select">
                    <select name="graph_type">
                        <option value="control_flow">Control Flow</option>
                        <option value="handover_of_work">Handover of Work</option>
                        <option value="parse_timestamp">Parse Timestamp</option>
                        <option value="dotted_chart">Dotted Chart</option>
                        <option value="activity_execution_time">Histogram</option>
                        <option value="working_together">Working Together</option>
                        <option value="distribution_of_work">Distribution of Work</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Choose Data</label>
            <div class="control">
                <div class="select">
                    <select name="select_data">
                        <option value="data_a">Data A_</option>
                        <option value="data_o">Data O_</option>
                        <option value="data_w">Data W_</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-link" type="submit" value="Submit">Go</button>
            </div>
        </div>
    </form>
    {% block graph %}

    {% endblock %}
{% endblock %}