{% extends 'components/layout.html' %}

{% block body %}
{#    <h2 class="title">Chapter One</h2>#}
{#    <h3 class="subtitle">Reading eventlog file as list and dictionary</h3>#}
    <br>
    {% if not log %}
        <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
            <div class="file">
                <label class="file-label">
                    <input class="file-input" accept="text/csv/xes" type="file" name="file" id="file">
                    <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choose a file…
                    </span>
                </span>
                    <span id="filename" class="file-name">

                </span>
                </label>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary">Upload</button>
                </div>
            </div>
        </form>
    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th>Case Id</th>
                <th>Task</th>
                <th>User</th>
                <th>Timestamp</th>
            </tr>
            </thead>
            <tbody>
            {% for l in log %}
                <tr>
                    <td>{{ l[0] }}</td>
                    <td>{{ l[1] }}</td>
                    <td>{{ l[2] }}</td>
                    <td>{{ l[3] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <form action="{{ url_for('delete') }}" method="get">
            <div class="field">
                <div class="control">
                    <button class="button is-danger">Delete</button>
                </div>
            </div>
        </form>
    {% endif %}

{% endblock %}